.toast-container{
    position: fixed;
    z-index: 100;
    height: 50px;
    width: 265px;
    padding: 1rem;
    margin: 1rem;
    right: 0;
    animation:  toast-in-right .3s;
    background: var(--COLOR-CATEGORY-CARD-BKGD);
    border-radius: 5px;
    opacity: 0.9;
    color: var(--COLOR-WHITE);
}
.toast-close{
    float: right;
    padding: 2px;
    cursor: pointer;
    background: none;
    color: var(--COLOR-WHITE);
}
@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}